table#students-table.table.font-monospace
   thead.text-center
      tr
         th(scope="col") Rut
         th(scope="col") Nombre
         th(scope="col") Apellido Paterno
         th(scope="col") Apellido Materno
         th(scope="col") Código Curso
         th(scope="col") Descripción Curso
   tbody.table-group-divider
 
      
